.pane {
    width: 600px;
    padding: 20px;
    background: rgba(0,0,0,0.3);
    border: 1px solid white;
    border-radius: 5px;
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -300px;
    color: white;
}
